<li
	class="clues-list-item {{#editable}}editable{{/editable}}"
	data-clue-direction="{{direction}}"
	data-clue-number="{{clueNumber}}"
	value="{{clueNumber}}"
>{{#editable}}<input type="text" class="clue-input form-control" {{#text}}value="{{.}}"{{/text}} />{{/editable}}{{^editable}}{{text}}{{/editable}}</li>